@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #0f172a; /* dark blue */
  color: white;
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    sans-serif;
}
